<header class="bg-emerald-900 text-white shadow-md">
  <div class="max-w-7xl mx-auto px-4 flex justify-between items-center py-3">
    <div class="flex items-center gap-10">
      <a href="/" class="text-lg font-bold flex items-center gap-2">
        <img src="https://cdn-icons-png.flaticon.com/512/891/891462.png" class="w-6" alt="logo" />
        BagHub
      </a>
      <nav class="hidden md:flex gap-6 text-sm">
        <a href="/" class="hover:text-gray-200">Home</a>
        <a href="#" class="hover:text-gray-200">Shop</a>
        <a href="#" class="hover:text-gray-200">Contact Us</a>
        <a href="#" class="hover:text-gray-200">About Us</a>
      </nav>
    </div>
    <div class="flex items-center gap-4 text-xs">
      <a href="/user/login" class="hover:underline">Login</a>
      <a href="/user/signup" class="hover:underline">Register</a>
    </div>
  </div>
</header>
